*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Raleway";
}


.body{
    background: url(./img/1.png) no-repeat;
    background-size: cover;
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;
}


.main {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.anna {
    list-style: none;
   display: flex;
   flex-direction: row;
   margin-bottom: 20px;
   box-shadow: 0 0 10px 1px rgba(157, 157, 157, 1);
   background-color: #ffffff;
}
   

.li1 {
    width: 80px;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
 

.li {
    width: 250px;
    height: 80px;
    padding: 10px;
    border-right: rgba(157, 157, 157, 1) solid 1px;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: ivory;
    font-size: 40px;
    text-transform: capitalize;
    width: 450px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 2px;
}

