@font-face {
    font-family: 'Lato-Regular'; 
    src: local('Lato'),
         local('Lato-Regular'),
         url(../fonts/Lato-Regular.woff) format(woff);
         font-weight: 400;
         font-style: normal;   
}