@font-face {
    font-family: 'Montserrat-ExtraLight'; 
    src: local('Montserrat'),
         local('Montserrat-ExtraLight'),
         url(../fonts/Montserrat-ExtraLight.ttf) format(ttf);
         font-weight: 200;
         font-style: normal;
}

@font-face {
    font-family: 'Raleway-ExtraLight';
    src: local('Raleway'),
         local('Raleway-ExtraLight')
         url(../fonts/Raleway-ExtraLight.ttf) format(ttf);
         font-weight: 200;
         font-style: normal;
}
    