$font-text: 'Montserrat-ExtraLight';
$font-text-2: 'Raleway-ExtraLight';
$text-size: 12px;
$text-spacing: 0.5px;
$text-color:  white;
$text_register: uppercase;
$text-position: center;
$image-size: 100% 100%;